#BGAtap {
  background: url(../assets/atap.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  width: 100%;
}

/* ================================ Button ================================ */

#tombol {
  margin-top: 150px;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================ Modal ================================ */
#modal {
  background: yellow;
}
#modalHeader {
  background: white;
}