

/* ================================ Button ================================ */

#tombol {
  margin-top: 150px;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================ Modal ================================ */
#modal {
  background: yellow;
}
#modalHeader {
  background: white;
}