

.ml6 {
  font-weight: 200;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 70px;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}