#BGLulus {
    background: url(../assets/BgLulus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
  
}

#BGGagal {
    background: url(../assets/BGGO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
}


.ml6 {
  font-weight: 200;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 70px;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

#nama {
  font-size: 40px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}