#BGHome {
    background: url(../components/kamar.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#BGCampus {
    background: url(../components/kelas.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}




#judul {
    text-align: center;
}

.responsive {
    width: 350px;
    height: auto;
  }

#BG {
    width: 100%;
}