#BGHome {
  background: url(../assets/kamar.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#BGCampus {
  background: url(../assets/kelas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#CL {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 270px;
  padding: 10px;
}


#judul {
    text-align: center;
}

.responsive {
    width: 350px;
    height: auto;
  }

#BG {
    width: 100%;
}

.PindahTempat {
  margin: 0 10px;
  padding: 7px 20px;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}

.PindahTempat:hover {
  color: white;
  background: #666;
}