#BGChar {
  background: url(../assets/lab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  width: 100%;
}

#head {
  background: rgba(135, 206, 235, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(135, 206, 235, 0.5);
}


#garis {
    height: 5px;
    background: linear-gradient(90deg, rgba(61, 14, 82, 0.858) 0%, rgba(14, 14, 100, 0.723) 50%, rgb(17, 154, 40) 100%);
}

/* ================================ Form ================================ */
input{
    width: 300px;
    height: 50px;
    text-align: center;
}

#FS {
    width: 300px;
    text-align: center;
}


/* ================================ Button ================================ */
  #center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .responsive {
    width: 100%;
    height: auto;
  }


#IN {
  border-radius: 20px;
  background: skyblue;
}

#avatar:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 255, 0, 0.4) 0 4px 8px, rgba(255, 255, 255, 0.553) 0 7px 13px -3px, #0000ff 0 -3px 0 inset;

}

