body {
    background: wheat;
}

#garis {
    height: 5px;
    background: linear-gradient(90deg, rgba(75,22,99,0.8575805322128851) 0%, rgba(63,63,98,0.7234244039412641) 50%, rgba(36,135,52,1) 100%);
}

/* ================================ Form ================================ */
input{
    width: 300px;
    height: 50px;
    text-align: center;
}

#FS {
    width: 300px;
    text-align: center;
}


/* ================================ Button ================================ */
  #center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .responsive {
    width: 100%;
    height: auto;
  }


#IN {
  border-radius: 20px;
  background: skyblue;
}