#Tidur {
    width: 200px;
}
#Belajar {
    width: 200px;
}
#Makan {
    width: 200px;
}
#Main {
    width: 200px;
}

#tambah {
    width: 150px;
}

#tambah:hover {
    background-color: skyblue;
}

#PB {
    background: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#BGBTN {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 50px;
}